
<!-- <div layout="row" layout-sm="column" class="stretch-vertically">
-->
<div layout="row" class="stretch-vertically">
  <div class= "lightblue" flex>
    I'm above on mobile, and to the left on larger devices.



    <div ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">My Messages</div>
      </md-toolbar>
      <md-content style="height: 600px;" md-theme="altTheme">
        <section>
          <md-subheader class="md-primary">Unread Messages</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class="md-warn">Late Messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader>Read Messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class="md-accent">Archived messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>




  </div>
  <div class="lightgreen" flex>
    I'm below on mobile, and to the right on larger devices.
  </div>
</div>


<style>
    .lightblue {
        background-color: lightblue;
    }

    .lightgreen {
        background-color: lightgreen;
    }

    .stretch-vertically {
        min-height: 90vh;

    }


    .subheaderdemoBasicUsage .face {
      border-radius: 30px;
      border: 1px solid #ddd;
      width: 48px;
      margin: 16px; }


    /*.md-subheader.md-altTheme-theme {*/
      /*color: red;*/
      /*background-color:red; }*/
    /*.md-subheader.md-altTheme-theme.md-primary {*/
      /*color: red; }*/
    /*.md-subheader.md-altTheme-theme.md-accent {*/
      /*color: red; }*/
    /*.md-subheader.md-altTheme-theme.md-warn {*/
      /*color: red; }*/
    /*.md-3-line.md-no-proxy.ng-scope {*/
      /*color: red !important;*/
      /*background-color:red !important;*/
    /*}*/
    /*.md-list-item-text {*/
      /*color: red !important;*/
    /*}*/

</style>

