<div>

  <div>
    <h1>Coding Without Unit Tests Is Like...</h1>
  </div>
  <br/>
  <br/>


  <span>cwutil... <input name="inputMessage" type="text"/>
    <button>Submit</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
    Sort by: <select>
    <option value="newest">Newest</option>
    <option value="most upvotes">Most Upvotes</option>

  </select>

  </span>
<hr>

  <div>
    <br/>
    <span>
      <p >
        <span class="opaq88"><i>cwutil... </i>
        driving a car with no mirrors.
    </span>



        <br/>
        <i class="opaq80">&nbsp;&nbsp;submitted by Billy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>

        <button>+</button>
        <span class="opaq88">10 <span class="glyphicon glyphicon-heart-empty"></span></span>
        <button>-</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 comments&nbsp;<button><span class="glyphicon glyphicon-menu-down"></span></button>
      </p>

    </span>

    <div>

    <span>
      <p >
        <span class="opaq88">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you suck. :)
    </span>
        <br/>
        <i class="opaq80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;submitted by Troll&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>

        <button>+</button>
        <span class="opaq88">0 <span class="glyphicon glyphicon-heart-empty"></span></span>
        <button>-</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 comment&nbsp;<button><span class="glyphicon glyphicon-menu-down"></span></button>
      </p>

    </span>
      <br/>
    </div>

  </div>




  <div>
    <span>
      <p >
        <span class="opaq88"><i>cwutil... </i>
        building a bridge with no legs.
    </span>
        <button>+</button>
        <span class="opaq88">10 <span class="glyphicon glyphicon-heart-empty"></span></span>
        <button>-</button>
        <br/>
        <i class="opaq80">&nbsp;&nbsp;submitted by James</i>
      </p>
    </span>
    <br/>
  </div>


</div>
