<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <!--<section class="jumbotron">-->
      <!--<h1>'Allo, 'Allo!</h1>-->
      <!--<p class="lead">-->
        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
        <!--Always a pleasure scaffolding your apps.-->
      <!--</p>-->
      <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>-->
      <!--<p>-->
        <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
      <!--</p>-->
    <!--</section>-->

    <div ng-controller="AppCtrl" layout="column" style="height:500px;" class="sidenavdemoBasicUsage" ng-app="MyApp">

      <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="lockLeft">

          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
          </md-toolbar>
          <!--<md-content layout-padding="" ng-controller="LeftCtrl">-->
          <md-content layout-padding="">
            <!--<md-button ng-click="close()" class="md-primary" hide-gt-md="">-->
              <!--Close Sidenav Left-->
            <!--</md-button>-->
            <p hide-md="" show-gt-md="">
              This sidenav is locked open on your device. To go back to the default behavior,
              narrow your display.
            </p>
          </md-content>

        </md-sidenav>

        <md-content flex="" layout-padding="">

          <div layout="column" layout-fill="" layout-align="top center">
            <!--<p>-->
              <!--The left sidenav will 'lock open' on a medium (&gt;=960px wide) device.-->
            <!--</p>-->
            <!--<p>-->
              <!--The right sidenav will focus on a specific child element.-->
            <!--</p>-->

            <!--<div>-->
              <!--<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">-->
                <!--Toggle left-->
              <!--</md-button>-->
            <!--</div>-->

            <!--<div>-->
              <!--<md-button ng-click="toggleRight()" class="md-primary">-->
                <!--Toggle right-->
              <!--</md-button>-->
            <!--</div>-->
            <!--<div>-->
              <md-button ng-click="lockLeft=!lockLeft">{{ lockLeft ? 'Unlock' : 'Lock' }} Sidenav Left</md-button>
            <!--</div>-->
          </div>

          <div flex=""></div>

        </md-content>

        <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">-->

          <!--<md-toolbar class="md-theme-light">-->
            <!--<h1 class="md-toolbar-tools">Sidenav Right</h1>-->
          <!--</md-toolbar>-->
          <!--<md-content ng-controller="RightCtrl" layout-padding="">-->
            <!--<form>-->
              <!--<md-input-container>-->
                <!--<label for="testInput">Test input</label>-->
                <!--<input type="text" id="testInput" ng-model="data" md-sidenav-focus="">-->
              <!--</md-input-container>-->
            <!--</form>-->
            <!--<md-button ng-click="close()" class="md-primary">-->
              <!--Close Sidenav Right-->
            <!--</md-button>-->
          <!--</md-content>-->

        <!--</md-sidenav>-->

      </section>

    </div>

    <!--<div class="techs" layout-align="center">-->
      <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
        <!--<md-card-content>-->
          <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
          <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->
          <!--<p>{{ awesomeThing.description }}</p>-->
        <!--</md-card-content>-->
        <!--<div class="md-action-buttons">-->
          <!--<md-button ng-href="{{ awesomeThing.url }}">Website</md-button>-->
        <!--</div>-->
      <!--</md-card>-->
    <!--</div>-->
  </md-content>

</div>
